<template>
<Layout>
  <template v-slot:main>
     <div class="about">
       <h1 class="has-text-centered">About</h1>
       <h2>User</h2>
        <p>{{user.name}} </p>
        <br> 
       
        <!-- <p>{{user.nativeLanguages.country.name }}</p> -->
        <h2>Native languages</h2>
        <div v-for="nativeLang in user.nativeLanguages" :key='nativeLang.id'>
         #{{nativeLang.id}} {{nativeLang.language.name}}
          <!-- {{nativeLang.language.name}} -->
        </div>
 <br> 
     <button @click="setUserState">Click</button>
    </div>
     <br> 
      <div v-for="user in users" :key='user.id'>#{{user.id}} {{user.name}} - {{user.country.name }}</div>
 <br> 
{{user}}
  </template>

</Layout>
</template>

<script lang="ts">
import Layout from '../components/Layout.vue'
import { defineComponent } from "vue";
import gql from 'graphql-tag'


export default defineComponent ({
    apollo: {
      users:  gql`
        query Users {
          users{
            id
            name
            country{
              name
            }
          }
          }` ,
          user:  gql`
        query User {
            user(id: 1) {
              name
              surname
              age
              country{
                id
                name
              }
              nativeLanguages {
                id
                language {
                  id
                  name
                }
              }
              
            }
          }` 
    },
    data: () => {
    return {
      isAuth : false,
      user : "",
    }
   },
  name:"about",
  components:{
    Layout
  },
  methods: {
    setUserState : function () {
      this.isAuth = !this.isAuth
      this.$store.commit('setUserAuth', {'name': 'manuel','lastname':'leon','isAuth':  this.isAuth})
    }
  },
  
})
</script>
