<template>
<Layout>
  <template v-slot:main>
     <div class="about">
    <h1>This is the home page</h1>
    </div>

  </template>
</Layout>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Layout from '../components/Layout.vue'

export default defineComponent({

  name: "Home",
  components:{
    Layout
  },

});
</script>
