<template>
  <div class="footer-custom mt-5 bg-dark b-0">
    <footer>
      <p class="text-center text-white pt-2">Manuel Leon 2021</p>
    </footer>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  name: "Footer",
  components: {},
});
</script>

<style scoped>
footer {
  height: 3em;
}
</style>