<template>
    <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>


   <a role="button" class="navbar-burger" aria-label="menu" 
   aria-expanded="false" data-target="navLinks" id="burger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

   
  </div>

  <div id="navLinks" class="navbar-menu">
    <div class="navbar-start">
     
      <a class="navbar-item">
          <router-link class="navbar-item has-text-centered" to="/">Home</router-link>
      </a>

      <a class="navbar-item has-text-centered">
           <router-link class="navbar-item" to="/about">About</router-link>
    
      </a>
    </div>

    <div class="navbar-end ">
      <div class="navbar-item ">
        <div class="has-text-centered" v-if="this.user.isAuth">

          <a class="button is-primary " >
            <strong>Logout</strong>
          </a>

        </div>
        <div class="is-flex is-justify-content-center" v-else>
         <div class="mr-3">
             <a class="button is-primary" >
            <strong>Sign up</strong>
          </a>
         </div>
       <div>
            <a class="button is-light ">
            Log in
          </a>
       </div>
       
        </div>

      </div>
    </div>
  </div>
</nav>
<span>Vuex: </span>
{{user}}

</template>

<script>
import { defineComponent } from "@vue/runtime-core"
import { mapGetters } from 'vuex'


export default defineComponent ({
   name:"Nav",
    mounted(){
      const burgerIcon = document.querySelector('#burger')
      const navLinks = document.querySelector('#navLinks')

      burgerIcon.addEventListener('click', () => {
        navLinks.classList.toggle('is-active')
        burgerIcon.classList.toggle('is-active')
      })
   //   console.log('store:' + this.$store.getters.getUser.isAuth)
    },
    computed: {
     ...mapGetters({
    user: 'getUser'
    }),
  //  userGet : this.$store.getters.getUser,

    },

})
</script>

<style scoped>

</style>