<template>
  <div class="body">
    <Nav />
    <div class="container">
      <slot name="main"/>
    </div>
    <Footer />
  </div>
</template>

<script lang="ts">
import Nav from "./partials/Nav.vue";
import Footer  from "./partials/Footer.vue";

export default {
name:"Layout",
  components: {
    Nav,
    Footer
  },
  
};
</script>

<style scoped>
.main {
  flex: 1;
}
.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
</style>
